
body {
	font: 12px/18px Arial, sans-serif;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	-height: 150px;
	-margin-bottom: 14px;
	-background: #FFE680;
}

.box-shadow { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }

.padding20 { padding: 20px; }
.padding10 { padding: 10px; }

.grid-box {
	display: grid;
	grid-template-columns: 14% 1% 85%;
	-grid-template-rows: repeat(3, 200px);
	-background: #EDE7F6;
	-padding: 1.5rem;
	-border-radius: 1rem;
} 
.col-1 {
	padding: 10%;
	grid-column: 1/2;
	-grid-row: 1;
}
.col-2 {
	padding: 10%;
	grid-column: 2/3;
	-grid-row: 1;
}
.col-3 {
	padding: 2%;
	grid-column: 3/4;
	-grid-row: 1;
}

.head-box {
    display: grid;
    grid-template-columns: 60% 30% 10%;
    -grid-gap: 0%;
    -grid-template-rows: 100%;
}

.form {
    display: grid;
    grid-template-columns: 1fr 0.1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}

.pizza {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
}
.pizza > div { text-align: center; }
div.center { text-align: center; }
.width50 { width: 50%; }

/* Table */
tr.detail:hover {
    background: #f96224; /* Цвет фона при наведении f1f1f1 */
    color: #fff; /* Цвет текста при наведении */
}
td, th {
  padding: 8px;
  -border: 1px solid #595959;
}
tr.detail { cursor: pointer; }
.cart-table{
  display: table;
  width: 100%;
}
.cart-table div { padding: 10px; }
.cart-tr{
  display: table-row;
}
.cart-th{
  display: table-cell;
  font-weight: bold;
  padding-left: 10px;
}
.cart-td{
  display: table-cell;
  padding-left: 10px;
}
.cart-td-0{
  display: table-cell;
  padding-left: 10px;
  width: 1%;
}
.cart-td-1{
  display: table-cell;
  padding-left: 10px;
  width: 24%;
}
.cart-td-2{
  display: table-cell;
  padding-left: 10px;
  width: 10%;
}
.cart-td-3{
  display: table-cell;
  padding-left: 10px;
  width: 10%;
}
.cart-td-4{
  display: table-cell;
  padding-left: 10px;
  width: 55%;
}

footer { text-align: center; }

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.order { text-align: right; }

#error { color: red; }

a.minus { font: 12pt Verdana, arial; color: #fff; text-decoration: none; }

a.plus { font: 12pt Verdana, arial; color: #fff; text-decoration: none; }

.amount { width: 24%;text-align: center;font: 10pt Verdana, arial; }

.less-more {
    margin: 0 32%;
    border-radius: 6px;
    color: #fff;
    background: #f96224;
}

#menu { padding: 0; }

#menu li {
  cursor: pointer;
  list-style: none;
  padding: 6px;
}

li:hover {
  background: #f96224;
  color: #FFF;
}

/* User menu */

.dropbtn {
  background-color: #f96224;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #login;}

a.cart {
    width: 31px;
    height: 29px;
    background: url(../img/ico-cart.svg) no-repeat;
    background-image: url(../img/ico-cart.svg);
    background-position-x: initial;
    background-position-y: initial;
    background-size: 100% 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 100% 100%;
}

a.order {
    cursor: pointer;
    background: #f96224;
    padding: 14px 20px;
    border-radius: 10px;
    color: #fff;
}

.counter {
    -position: absolute;
    top: -6px;
    right: -10px;
    border-radius: 16px;
    border: 2px solid #fff;
    height: 16px;
    min-width: 8px;
    padding: 0 4px;
    background: #ec5a1e;
    color: #fff;
    font: 11px/16px 'Roboto Slab','Times New Roman',serif;
    text-align: center;
}

.grid {
	display: grid;
	display: inline-grid;
	grid-template: 'a a a a a';
}
